{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block main_content_header %}
    <div class="col-md-6">
        <h2 class="mb-4 mt-3">Sign up</h2>
    </div>
{% endblock %}
{% block content %}
    <div class="col-md-12 col-lg-8 main-content">
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class=" col-md-12 form-group">
            </div>
            <div class="row">
                {% for field in form %}
                    <div class="col-md-12 form-group">
                        {% if not field.is_hidden %}
                            {{ field.label }}
                            {{ field.errors }}
                        {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="col-md-12 form-group">
                    <input type="submit" value="Sign up" class="btn btn-primary">


                </div>
            </div>
        </form>

    </div>
{% endblock %}