{% extends 'base.html' %}
{% load static %}
{% block body %}
    <section class="site-section py-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-5">

                    <h1>Reset password</h1>
                    <form action="{% url 'reset' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" id="email" name="email" required class="form-control"
                                   placeholder="email">
                            <span class="text-warning">{{ status }}</span>
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm" value="Reset">
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}