<div class="row mt-3">
    <div class="col-md-12 mb-3">
        <h3>My Favorite Posts ({{ count }})</h3>
    </div>
    <div class="col-md-12">
        <div class="row">
            {% for post in posts.object_list %}

                <div class="col-md-12 my-3">
                    <div class="post-entry-horzontal">
                        <a href="{{ post.get_absolute_url }}">
                            <div class="image"
                                 style="background-image: url(/{% if post.cover_small %}{{ post.cover_small.url }}{% endif %});"></div>
                            <span class="text">
                            <div class="post-meta">
                                <span class="author mr-2"><b>{{ post.author }}</b></span>
                                <span class="mr-2">{{ post.date }} </span> &bullet;
                                <span class="ml-2"><span
                                        class="fa fa-comments"></span> {{ post.comments.count }}</span>
                            </div>
                            <h2>{{ post.title }}</h2>
                        </span>
                        </a>
                    </div>
                </div>
            {% endfor %}


        {% if posts.paginator.num_pages > 1 %}
            <div class="col-md-12 text-center">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        <li class="page-item "><a class="page-link" href="{% url 'user_favorite_posts' page=1 %}"
                                        onclick="loadFavoritePosts(this); return false;">&lt;</a>
                        </li>

                            {% if posts.has_previous %}
                                <li class="page-item ">
                                    <a class="page-link"
                                       href="{% url 'user_favorite_posts' page=posts.previous_page_number %}"
                                        onclick="loadFavoritePosts(this); return false;">
                                        {{ posts.previous_page_number }}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item active"><a class="page-link">{{ posts.number }}</a></li>
                            {% if posts.has_next %}
                                <li class="page-item ">
                                    <a class="page-link"
                                       href="{% url 'user_favorite_posts' page=posts.next_page_number %}"
                                        onclick="loadFavoritePosts(this); return false;">
                                        {{ posts.next_page_number }}
                                    </a>
                                </li>
                            {% endif %}
                        <li class="page-item"><a class="page-link" href="{% url 'user_favorite_posts' page=posts.paginator.num_pages %}"
                                        onclick="loadFavoritePosts(this); return false;">&gt;</a></li>
                    </ul>
                </nav>
            </div>
        {% endif %}

        </div>

    </div>
</div>
